PORT=5000

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Admin User
ADMIN_EMAIL=admin@santabeatriz.com
ADMIN_PASSWORD=Admin123!

# Teacher User
TEACHER_EMAIL=teacher@santabeatriz.com
TEACHER_PASSWORD=Teacher123!

# Staff User
STAFF_EMAIL=staff@santabeatriz.com
STAFF_PASSWORD=Staff123!

# Admission User
ADMISSION_EMAIL=admission@santabeatriz.com
ADMISSION_PASSWORD=Admission123!

# Treasury User
TREASURY_EMAIL=treasury@santabeatriz.com
TREASURY_PASSWORD=Treasury123!

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
